; fichier de configuration
[database]
adapter = %DB.TYPE%
host     = %DB.HOST%
username = %DB.USER%
password = %DB.PASSWORD%
dbname     = %DB.NAME%

[application]
siteControllersDir = modules/site/controllers/
clientControllersDir = modules/client/controllers/
adminControllersDir = modules/admin/controllers/
modelsDir = models/
siteViewsDir = modules/site/views/
clientViewsDir = modules/client/views/
adminViewsDir = modules/admin/views/
pluginsDir = Plugins/
libraryDir = Library/
vendorDir = ../vendor/
tasksDir = Tasks/
